.btn-success{
    background-color:  #2e7d32  !important
}
.btn-primary{
    background-color:  #212121 !important

}
.btn-secondary{
    background-color:  #37474F !important
}

.btn-danger{
    background-color:  #e53935  !important
}
.btn-warning{
    background-color:  #e65100   !important

}